# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'sensu2/defaults.yaml' as default_settings %}

{##
Setup variables using grains['os_family'] based logic, only add key:values
that differ from what is in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {
        'apt_repo_list': ['deb https://packagecloud.io/sensu/prerelease/debian/ stretch main',
                        'deb-src https://packagecloud.io/sensu/prerelease/debian/ stretch main'],'file': '/etc/apt/sources.list.d/sensu2.list'
 },
        'Suse': {},
        'Arch': {
            "pkg" : 'sensu2-arch',
        },'Windows': {
        'config': 'c:\\sensu2',
        },
        'RedHat': {
            "config": '/etc/sensu2',
            "pkgrepocontents": dict(baseurl="https://packagecloud.io/sensu/prerelease/el/$releasever/$basearch")
        },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('sensu2:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.sensu2.update(os_family_map) %}

{## Merge in sensu2:lookup pillar ##}
{% set sensu2 = salt['pillar.get'](
        'sensu2',
        default=default_settings.sensu2,
        merge=True
    )
%}
